body {
	background-color: #212b31;
	color: #e6c200;
	font-family: 'Crimson Text', serif;
	margin: 25px 250px 250px 250px;
	align-self: flex-start;
	width: 55%;
	float: center;
}

header.img {
	width: 60%;
}

img {
	border: 1px solid #e6c200;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px goldenrod;
}

p {
	padding: 3%;
	font-family: 'Alegreya', serif;
}

#flint {
	text-transform: uppercase;
}

.pirate:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

a:link {
	color: #b39700;
}

a:hover {
	text-transform: uppercase;
	color: #ffd700;
}